

.nav-color{
    background-color:#ed00ed !important;
    padding:0px 30px;
}

.text-center{
    color:#546E7A;
    text-align:center;
}

.card_home{
    margin: 2em 0em;
    font-size:2em;
    background-color:#FFE4E1 !important;
}

.text{
    font-size:20px;
    color:#6C6E7A;
}

.background{
    background-image:url(../bilder/background.jpg);
    background-size:cover;
    border-top:1px solid #546E7A;
}


.pink{
    background-color:##ed00ed;
}

footer .fa{
        color:#ed00ed;
        margin:0px 60px;
}

.impressum{
    color:#546E7A;
}

button{
    color:green;
}
